# Database Settings
# Format: host=HOST dbname=DATABASE user=USER password=PASSWORD
DB_DSN=host=localhost dbname=playnitedb user=postgres password=3248

# Flask Application Settings
FLASK_DEBUG=True
FLASK_PORT=5000